<%- include ('../partials/header.ejs') %>
<div class = "container">
  <form action = "<%=baseURL%>" method = "post">
    <div class = "row d-flex justify-content-end">
      <div class = "col">
        <label for="name">Date: </label>
      </div>
      <div class = "col">
        <input type="text" name="date" required />
      </div>
    </div>
    <label for="phone">Customer</label>
    <input type="text" name="customerName" required />
    <label for="email">Amount</label>
    <input type="text" name="amount" required />
    <label for="address">Description</label>
    <input type="text" name="description" />
    <label for="contactPerson">Sales Person</label>
    <input type="text" name="salesPerson"/>
    <input type="submit" value="Create Sale" />
  </form>
</div>
<%- include ('../partials/footer.ejs') %>