<%- include ('../partials/header.ejs') %>
<form action = "<%=baseURL%>" method = "post">
  <label for="name">Name</label>
  <input type="text" name="name"required />
  <label for="phone">Phone</label>
  <input type="text" name="phone"required />
  <label for="email">Email</label>
  <input type="text" name="email"required />
  <label for="address">Address</label>
  <input type="text" name="address" />
  <label for="contactPerson">Contact Person</label>
  <input type="text" name="contactPerson"/>
  <label for="relationshipManager">Relationship Manager</label>
  <input type="text" name="relationshipManager"/>
  <input type="submit" value="Create Customer" />
</form>
<%- include ('../partials/footer.ejs') %>