body {
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url("/Images/366259.jpeg") no-repeat center center fixed;
  background-size: cover;
}


nav {
  background-color: #2368A2;
}

.nav-link, .logout {
  color: #AAD4F5;
}

li {
  border-radius: 5px;
}

.logout {
  border: none
}

.nav-item:hover, .logout:hover {
  background-color: #1B4971;
}


.container-wrapper {
  background-color: #CFD4DA;
  max-width: 950px;
  padding: 0 35px 35px 35px;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.3);
}

.login-wrapper {
  background-color: #CFD4DA;
  padding: 0 35px 35px 35px;
  max-width: 500px;
  opacity: 0.9;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.3);
}


.container {
  max-width: 900px;
}

h3 {
  color: #495057;
  margin-bottom: 0;
}

.mytable {
  font-size: 17px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.3);
}

.mytable-small {
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.3);
}

a {
  color: #868D96
}

a:hover {
  color: #64A2D8
}

.table-header {
  background-color: #2369a28e;
  color: #DDE2E6
}

.table-row {
  background-color: #F0F2F4;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-basis: auto;
  padding: 6px;
}

.table-row-small {
  background-color: #F0F2F4;
  display: flex;
  align-items: center;
  flex-basis: auto;
  padding: 4px;
}

.table-row:hover {
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.5);
}

.zebra {
    background-color: #F8F9FA;
}

.details {
  background-color: #F0F2F4;
  margin-right: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.3);
}

h5 {
  padding-top: 8px;
}

.login {
  max-width: 400px;
  margin-top: 50px;
}
