<%- include ('../partials/header.ejs') %>
<h1>Create new employee</h1>
<form action = "<%=baseURL%>" method = "post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required />
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" id="firstName" required />
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" id="lastName" required />
  <label for="phone">Phone</label>
  <input type="text" name="phone" />
  <label for="email">Email</label>
  <input type="text" name="email"/>
  <input type="submit" value="Create User" />
</form>